<!DOCTYPE html>
<html>
<head>
  <title>MCCPA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>
<div id="welcomeText">
					<p>Welcome to the Middlesex Community College Professional Assoication.</p>
					<p>If you are new to the college, we would like to extend a special invitation to look around and get involved in your union.</p>
					<br />
					<p>In solidarity,</p>
					<br/>
					<p class="signature">Your MCCPA Leadership</p>
				</div>
			</div>
        </div>
		
		
		<div class="content">
			<div class="news">
				<h3 class="title">MCCPA News</h3>
				<iframe src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Fmccpa-union.blogspot.com%2Ffeeds%2Fposts%2Fdefault%3Falt%3Drss&rssmikle_frame_width=1000&rssmikle_frame_height=200&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=off&text_align=left&text_align2=left&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=3&mcspeed=20&sort=Off&rssmikle_title=off&rssmikle_title_bgcolor=%230066FF&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23F1F1F1&rssmikle_item_title_length=55&rssmikle_item_title_color=%23656565&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text%2Btn&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe>
			</div>
			
			<div class="news">
				<h3 class="title">MTA & NEA News</h3>
				<iframe src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Fwww.nea.org%2Fhome%2Fnea-education-issues.rss%7Chttp%3A%2F%2Ffeeds.feedburner.com%2FMassachusettsTeachersAssociationNewsHeadlinesRssFeed&rssmikle_frame_width=1000&rssmikle_frame_height=200&frame_height_by_article=3&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=off&text_align=left&text_align2=left&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=5&mcspeed=20&sort=New&rssmikle_title=off&rssmikle_title_bgcolor=%230066FF&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23F1F1F1&rssmikle_item_title_length=55&rssmikle_item_title_color=%23656565&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text%2Btn&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&iframe_id=feedwind_6191444710151399&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe>
			</div>
		</div>
		
		<div class=clear></div>
		
		<div class="content">
			<div id="whoWeAre">
				<h2 class="title">Who We Are</h2>
				<img src="chart.png"/>
				<p>The Middlesex Community College Professional Association (MCCPA) is a union which represents all full-time and part-time faculty and day professional staff at the college.</p>
				<p>The MCCC consists of two units as certified by the state labor relations commission - a day unit and a DCE unit.</p>
				<div class="more">read more...</div>
				<p><div class="complete">The officers of the MCCC are its president, vice president, secretary and treasurer, all elected biannually. The MCCC is governed by a set of bylaws and standing rules which are determined at its annual meeting, called the Delegate Assembly. This meeting of representatives of all of the 15 chapters is traditionally held in April. Throughout the year the MCCC is managed by the Board of Directors, which meets monthly. Its voting members consists of the officers and one representative from each chapter. The MCCPA representative is the director. Non voting members are currently one NEA Director, two MTA Directors, the day unit grievance coordinator, the DCE unit grievance coordinator, and the communications coordinator. <br />The purpose and objectives of the MCCPA are stated in Article II - Objectives of its Bylaws. The chapter is governed by its bylaws and rules, and managed by the executive committee, which consists of the officers and representatives, as described in the bylaws. The chapter has approximately one meeting per month during the Fall and Spring semesters. Members are encouraged to communicate with any member of the executive committee at any time. It also maintains an answering machine at 617-280-3555 for day contract business, and at 508-656-3326 for DCE contract business.
                </p>
				
				   <p>The MCCPA is a chapter of the Massachusetts Community College Council (MCCC) which represents the faculty and professional staff at all of the 15 Massachusetts public community colleges. The MCCC is an affiliate of the Massachusetts Teachers Association (MTA) which in turn is an affiliate of the National Education Association (NEA). <div class="less">...read less</div>
                </p>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div id="whatWeDo">
				<h2 class=title>We're Here to Serve You</h2>
				<p class="purpose" style="font-size: 24px";>Purpose: We, the faculty and professional staff at the fifteen community colleges of the Commonwealth of Massachusetts, have organized into a politically active Union to protect the professional rights and advance the economic well-being and working conditions of our members, as well as maintain and improve the quality of education in our community colleges.</p>
				<img src="gym.png"/>
				<br />
				  <ul>Objectives
					<li>Engage in collective bargaining</li>
					<li>Promote livable, equitable, and competitive wages</li>
					<li>Improve salary and benefits</li>
					<li>Promote professional working conditions, including professional development opportunities, adequate resources, and safe working environments</li>
					<li>Ensure reasonable workloads and work schedules</li>
					<li>Protect professional rights</li>
					<li>Protect and maintain academic freedom</li>
					<li>Promote full-time employment</li>
					<li>Promote equitable employment conditions for part-time unit professionals and adjunct faculty</li>
					<li>Promote quality public higher education and integrity of curriculum</li>
					<li>Promote job security</li>
					<li>Promote political action through education and organizing</li>
				  </ul>
			</div>
		</div>
		
		<div class="filler"></div>
  <div id="main">
    <%= yield %>
  </div>		

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
